POSTGRES_DB=server_opt_visualizer
POSTGRES_USER=server_opt
POSTGRES_PASSWORD=server_opt
POSTGRES_PORT=5432
REDIS_PORT=6379
APP_DATASOURCE_URL=jdbc:postgresql://localhost:5432/server_opt_visualizer
APP_DATASOURCE_USERNAME=server_opt
APP_DATASOURCE_PASSWORD=server_opt
APP_REDIS_HOST=localhost
APP_REDIS_PORT=6379
