MYSQL_DATABASE=server_opt_visualizer
MYSQL_USER=server_opt
MYSQL_PASSWORD=server_opt
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306
REDIS_PORT=6379
APP_DATASOURCE_URL=jdbc:mysql://localhost:3306/server_opt_visualizer?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
APP_DATASOURCE_USERNAME=server_opt
APP_DATASOURCE_PASSWORD=server_opt
APP_REDIS_HOST=localhost
APP_REDIS_PORT=6379
